<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Demo</title>

    <link href="./css/bootstrap/bootstrap-custom.css" rel="stylesheet">
    <link href="./css/demo.css" rel="stylesheet">
    <link href="./css/cropper.css" rel="stylesheet">
    <link rel="stylesheet" href="./font/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="./font/fontawesome/css/solid.css">
    <link rel="stylesheet" href="./css/navbar.css">

    <script src="./js/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <img src="./img/infomedia-logonly.png" class="navbar-brand-logo"/>
    <span class="ms-2" style="margin-top: 3px;">Hikvision Demo</span>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
        <div class="navbar-nav ms-auto">
            <a href="./logout" class="nav-item nav-link"><i class="fa-solid fa-right-from-bracket"></i><span>Salir</span></a>
        </div>
    </div>
</nav>
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img id="personImg" class="rounded-circle mt-5" width="150px" src="./img/person_image_placeholder.png" style="background-color: white;">
                <br>
                <label for="selectPersonImg">Fotografia</label>
                <br>
                <button type="button" id="selectPersonImg" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#imgModal">Seleccionar imagen</button>
            </div>
        </div>

        <div class="col-md-9">
            <form id="formPerson" action="#">
                <div class="row">
                    <div class="col-md-7 border-right">
                        <div class="p-3 py-5">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4 class="text-right">Perfil</h4>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <label for="inputIdentificacion">Identificacion</label>
                                    <input id="inputIdentificacion" name="identificacion" type="text" class="form-control" required>
                                </div>
                                <div class="col-md-12">
                                    <label for="inputNombre">Nombre</label>
                                    <input id="inputNombre" name="nombre" type="text" class="form-control" required>
                                </div>
                                <div class="col-md-12 mt-2">
                                    <label for="inputApellido">Apellido</label>
                                    <input id="inputApellido" name="apellido" type="text" class="form-control" required>
                                </div>
                                <div class="col-md-12 mt-2">
                                    <label for="inputTelefono">Telefono</label>
                                    <input id="inputTelefono" name="telefono" type="number" class="form-control" required>
                                </div>
                                <div class="col-md-12 mt-2">
                                    <label for="inputEmail">Email</label>
                                    <input id="inputEmail" name="email" type="email" class="form-control" required>
                                </div>
                                <div class="col-md-12 mt-2" style="display: none">
                                    <input id="inputBase64Image" name="imageBase64" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="mt-5 text-center"><button class="btn btn-infomedia" type="submit">Guardar</button></div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="p-3 py-5">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4 class="text-right">Configuracion</h4>
                            </div>
                            <div class="col-md-12">
                                <label for="selectOrg">Organizacion</label>
                                <select id="selectOrg" class="form-select" name="orgId" required>
                                    <option selected value="">Seleccionar</option>
                                    <option th:each="org: ${orgs}" th:text="${org.orgName}" th:value="${org.orgIndexCode}"></option>
                                </select>
                            </div>
                            <div class="col-md-12 mt-2">
                                <label for="selectPriv">Grupo de privilegios</label>
                                <select id="selectPriv" class="form-select" name="privId" required>
                                    <option selected value="">Seleccionar</option>
                                    <option th:each="priv: ${privs}" th:text="${priv.privilegeGroupName}" th:value="${priv.privilegeGroupId}"></option>
                                </select>
                            </div>
                            <div class="col-md-12 mt-2">
                                <label for="selectFcg">Grupo de comparacion de rostros</label>
                                <select id="selectFcg" class="form-select" name="fcgId" required>
                                    <option selected value="">Seleccionar</option>
                                    <option th:each="fcg: ${fcgs}" th:text="${fcg.name}" th:value="${fcg.indexCode}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="modal" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Seleccionar imagen</h5>
                    <button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="img-container">
                        <img id="imageCrop" alt="Picture" class="mx-auto d-block img-fluid" src="./img/person_image_placeholder.png"
                             style="background-color: white; max-height: 500px;">
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="file" id="imgFileInput" class="form-control" accept="image/jpeg" onchange="onFileSelected(event)">
                    <br>
                    <button type="button" class="btn btn-secondary ok-modal" data-bs-dismiss="modal">Aceptar</button>
                    <button type="button" class="btn btn-secondary close-modal" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="spinnerModal" tabindex="-1" role="dialog"
         data-bs-keyboard="false" data-bs-backdrop="static" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body ms-4 me-4 mt-2 mb-2">
                    <div class="d-flex align-items-center">
                        <strong>Espere...</strong>
                        <div class="spinner-border ms-auto" role="status" aria-hidden="true" style="color: #0d6969"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                </div>
                <div class="modal-body mt-5 mb-4">
                    <div class="text-center">
                        <p class="pMessage"></p>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="./js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="./js/cropper.js"></script>
<script src="./js/demo.js"></script>
</body>
</html>